<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
	xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="jobbuzzPU">				
		<class>com.spedia.users.model.User</class>
		<class>com.spedia.users.model.UserRole</class>
		<properties>
			<!-- <property name="javax.persistence.jdbc.driver" value="com.ibm.db2.jcc.DB2Driver" />
			<property name="javax.persistence.jdbc.url" value="${dbUrl}" />
			<property name="javax.persistence.jdbc.user" value="${dbUserName}" />
			<property name="javax.persistence.jdbc.password" value="${dbPassword}" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.DB2Dialect" />-->
			<property name="show_sql" value="${show_sql_flag}" />
			<property name="hibernate.temp.use_jdbc_metadata_defaults" value="false" /> 
		</properties>
	</persistence-unit>
</persistence>
