<!DOCTYPE HTML>
<html data-ng-app="JobBuzz">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>JobBuzz :: Account Overview</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.css" />
<link rel="stylesheet" type="text/css" href="fonts/font.css" />
</head>

<body>
  <div class="navbar navbar-inverse hidden-xs topheader"> 
    <div class="container-fluid">
		<!--Top Navigation-->
		<div class="row">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<nav class="navbar-collapse collapse topnavbar">
			<div class="row">
				<ul class="nav navbar-nav">
				  <li><a href="#">TimesJobs</a></li>
				  <li><a href="#">Job Buzz</a></li>
				  <li><a href="#">StepAhead</a></li>
				  <li><a href="#">TechGig</a></li>
				  <li><a href="#">HireGraph</a></li>
				</ul>
			</div>
			</nav>
		</div>
		<!--  Top Navigation  --> 
    </div>
  </div>
  <div class="container-fluid offsetWrap" id="navbar-collapse1Wrap">
    <div class="row innerWrap">
	<!--######## Top Naviagtion Start Here ###########-->
	<header id="fixedNavigation" class="clearfix">
		<div class="clearfix z2new" id="fixed">
			<div class="xs-headerl">
			  <button type="button" class="navbar-toggle" id="navbar-toggle" data-target="#navbar-collapse1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <h1 class="logo"><a href="#"><img src="images/jobuzz_logo.png" alt="Hire Graph"></a></h1>
			</div>
			<nav class="main-mnu" id="navbar-collapse1">
				<ul class="nav navbar-nav">
					<li class="active home"><i class="top"></i><a href="#"><img src="images/spacer.gif" /><span>home</span></a><i class="bot"></i></li>
					<li class="discover"><i class="top"></i><a href="#"><img src="images/spacer.gif" /><span>discover</span></a><i class="bot"></i></li>
					<li class="jobs"><i class="top"></i><a href="#"><img src="images/spacer.gif" /><span>jobs</span></a><i class="bot"></i></li>
					<li class="interview"><i class="top"></i><a href="#"><img src="images/spacer.gif" /><span>interviews</span></a><i class="bot"></i></li>
					<li class="insights"><i class="top"></i><a href="#"><img src="images/spacer.gif" /><span>insights</span></a><i class="bot"></i></li>
				</ul>
				<div class="clearfix visible-sm"></div>
			</nav>
			<div class="navbar-right right-mnu">
				<ul class="notification xs-headerr">
					<li class="show-xs"><a href="#search-input" data-id="" id="searchBtn" class="search"><img src="images/spacer.gif" /></a></li>
					<li><a href="#" class="phone"><img src="images/spacer.gif" /></a></li>
					<li><a href="#" class="flag"><img src="images/spacer.gif" /><span class="badge">1</span></a></li>
					<li class="dropdown acc-sett">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/profile-pic.png" /> <span class="visible-lg">Bhasker</span> <span class="caret"></span></a>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#">Hello, <strong>Bhaskar</strong></a></li>
						<li class="divider"></li>
						<li><a href="#">Your Profile</a></li>
						<li><a class="active" href="#">Account Settings</a></li>
						<li><a href="#">Your Posts</a></li>
						<li class="divider"></li>
						<li><a href="#" class="text-right">Sign Out <i class="glyphicon glyphicon-log-out"></i></a></li>
					  </ul>
					</li>
				</ul>
				<form class="search-input">
					<img src="images/spacer.gif" class="search" />
					  <input type="text" class="form-control" placeholder="Search" />
				</form>
			</div>
		</div>
	</header>
	<!--######## Top Naviagtion Start Here ###########-->
	
  <div class="container-fluid offsetWrap" id="navbar-collapse1Wrap">
    <div class="row innerWrap">
	<!--######## Main Container Start Here ###########-->
	<div class="row">
	<div class="col-sm-12">
			
	<div class="row"><div class="col-sm-12">	
				<ol class="breadcrumb">
					  <li><a href="#"><img src="images/spacer.gif" class="cus-icon cus-home-small" alt="home"></a></li>
					  <li class="active">Bhaskar’s Profile</li>
				</ol>
			</div>
		</div>
		
		<!--########### Company Details with logo Start Here ###########-->
		<div class="row company-details m_b10">
		<div class="col-sm-12 m_t10">
			<div class="col-sm-12">
				<ul class="pull-right cmpshare">
					<li><a href="#"><img src="images/tw.png" alt="twitter" /></a></li>
					<li><a href="#"><img src="images/fb.png" alt="facebook" /></a></li>
					<li><a href="#"><img src="images/lk.png" alt="linkedin" /></a></li>
					<li><a href="#"><img src="images/GMAIL.png" alt="gplus" /></a></li>
				</ul>
			</div>
		<div class="col-sm-10 position companyinfo">
		<h1><img src="images/companyLogo.jpg" alt="Computer Science Corporation" /></h1>
		<h2>Computer Science Corporation</h2>
		<div><a href="#" target="_blank">www.csc.com</a></div>
		<div class="ratting_star"><img src="images/star5.png"><img src="images/star5.png"><img src="images/star5.png"><img src="images/star5.png"><img src="images/star5.png"> <label>3.4</label> (<a href="#">1.47K reviews</a>)</div>
		<div class="col-sm-3 text-center colorfff companyrating">
							<div class="row">
								<div class="col-xs-3" style="background:#1c817e;">	
									<div class="cmpratinginfo row">
									<strong>3.8/5</strong>
									Work Life Balance
									</div>
								</div> 
								<div class="col-xs-3" style="background:#d9823d;">	
									<div class="cmpratinginfo row"><strong>3.8/5</strong>
									Salary / Remuneration
									</div>
								</div>
								<div class="col-xs-3" style="background:#333333;">	
									<div class="cmpratinginfo row">
									<strong>3.8/5</strong>
									Company Culture
									</div>
								</div>
								<div class="col-xs-3" style="background:#c1494b;">	
									<div class="cmpratinginfo row"><strong>3.8/5</strong>
									Career Growth
									</div>
								</div>
							</div>
						</div>
		</div> 
		
		<div class="ratting-details col-sm-4 margincenter">
			<div class="row">
				<div class="col-sm-3 block">
				<a class="count">1.4k</a>
				<a>Jobs</a>
				</div>
				<div class="col-sm-3 block">
				<a class="count">1.4k</a>
				<a>Interviews</a>
				</div>
				<div class="col-sm-3 block">
				<a class="count">3.4k</a>
				<a>Reviews</a>
				</div>
				<div class="col-sm-3 block">
				<a class="count">513</a>
				<a>Salaries</a>
				</div>
			</div>
		</div>
			
		
		</div>	
		</div>
	<!--########### Company Details with logo Container Ends Here ###########-->
	<div class="row">
		<div class="col-sm-12 m_t10">
		
		<!--########### WHO WE ARE Start Here ###########-->
			<div class="col-sm-6">
				<div class="cmpwho z2new">
					<img src="images/cmpwho.jpg" class="cmpimg" />
					<div class="cmpwhodetail">
						<h3>WHO WE ARE</h3>
						<p>Computer Sciences Corporation is an American multinational corporation that provides information technology services and professional services. Its headquarters are located in Falls Church, Virginia. CSC has 80,000 employees in over 70 countries. <a href="#">read more</a></p>
					</div>
				</div>
			</div>
			<!--########### WHO WE ARE Ends Here ###########-->
			<div class="col-sm-3">
				<div class="story-wrap z2new">
				<div class="row">
					<div class="text-left m_t10 m_b10"><img src="images/companyLogo.jpg" style="width:63px;" /></div>
					<div class="ratting_star text-left"><strong>Computer Sciences Corporation</strong></div>
					<p><strong>Industry</strong>: IT services, IT consulting
					</p><p><strong>Founded</strong>: April 1959
					</p><p><strong>Founders</strong>: Roy Nutt, Fletcher R. Jones
					</p><p><strong>Turnover</strong>: 500K annual
					</p><p><strong>Headquarters</strong>: Falls Church, Virginia
					</p><p><strong>Employees</strong>: 10k+
					</p><p><strong>Competitor</strong>: Microsoft, HCL, Infosys
					</p><p><strong>Current CEO</strong>: Bob Wulmer</p>
				</div></div>
			</div>
			<div class="col-xs-3 account-card interview-card" data-ng-controller="TabsDemoCtrl">
					<div class="story-wrap z2new">
						<div class="row text-left">
							<h3 class="question">INTERVIEW QUESTIONS BY</h3>
							
							 <tabset>
								<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
								<div class="col-sm-12 tabbing"><a data-ng-href="{{cont.link}}" data-ng-repeat="cont in tab.content">{{cont.text}}</a>
								</div>
								</tab>  
							</tabset>
  
 
							<div class="row notifyRow">
							</div>
						</div>
					</div>
				</div>
			
		
		<!--########### Work for US Start Here ###########-->
			<div class="col-sm-6">
				<div class="cmpwho z2new">
					<img src="images/cmpwork.jpg" class="cmpimg" />
					<div class="cmpwhodetail">
						<h3>WHY WORK FOR US</h3>
						<p>Computer Sciences Corporation is an American multinational corporation that provides information technology services and professional services. Its headquarters are located in Falls Church, Virginia. CSC has 80,000 employees in over. <a href="#">read more</a></p>
					</div>
				</div>
			</div>
		<!--########### Work for US Ends Here ###########-->
		</div>
		
	</div>	
		
	</div>
	</div>
	<!--########### Main Container Ends Here ###########-->
    </div>
  </div>
  
	
	<!--########### Footer Start Here ###########-->
	
<footer id="footer">

<div class="container-fluid counter-detail">
	<h5>Loved by 
		<span class="counter">
			<span data-val="5"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
			<span data-val="3"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
			<span data-val="4"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
			<span data-val="8"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
			<span data-val="1"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
			<span data-val="2"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
			<span data-val="6"><b><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></b></span>
		</span> amazing JBians</h5>
</div>
<div class="container-fluid footer-info hidden-xs">
    <div class="col-sm-5ths">
		<div class="footer-desc">
			<strong><img src="images/spacer.gif" class="discover" /></strong>
			<strong>524512</strong>
			<p>great companies to discover best</p>
		</div>
	</div>
    <div class="col-sm-5ths">
		<div class="footer-desc">
			<strong><img src="images/spacer.gif" class="job" /></strong>
			<strong>524512</strong>
			<p>awesome questions to prepare better</p>
		</div>
	</div>
    <div class="col-sm-5ths">
		<div class="footer-desc">
			<strong><img src="images/spacer.gif" class="interview" /></strong>
			<strong>524512</strong>
			<p>cool answers to take wise decisions</p>
		</div>
	</div>
    <div class="col-sm-5ths">
		<div class="footer-desc">
			<strong><img src="images/spacer.gif" class="review" /></strong>
			<strong>524512</strong>
			<p>company reviews to stay informed</p>
		</div>
	</div>
    <div class="col-sm-5ths">
		<div class="footer-desc">
			<strong><img src="images/spacer.gif" class="salary" /></strong>
			<strong>524512</strong>
			<p>Salary insights to know the trend</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="groupcmp">
	<div class="row">
		<ul class="nav nav-pills navbar-left">
		<li><a href="#">discover</a></li>
		<li><a href="#">discover</a></li>
		<li><a href="#">discover</a></li>
		</ul>
		<ul class="nav nav-pills navbar-right">
		<li><a href="#">discover</a></li>
		<li><a href="#">discover</a></li>
		<li><a href="#">discover</a></li>
		</ul>
		</div>
	</div>
</div>
<div class="container-fluid hidden-xs">
	<div class="groupcmp">
	<h6>TBSL Network</h6>
	</div>
</div>
<div class="container-fluid hidden-xs">
		<ul class="groupcmp">
			<li class="timejob"> <a target="_blank" href="http://www.timesjobs.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="techgig"> <a target="_blank" href="http://www.techgig.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="magicb"> <a target="_blank" href="http://www.magicbricks.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="simplym"> <a target="_blank" href="http://www.simplymarry.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="ad2book"> <a target="_blank" href="http://www.ads2book.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="jobbuzz"> <a target="_blank" href="http://jobbuzz.timesjobs.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="dialb"> <a target="_blank" href="http://bpo.timesjobs.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="tcnext"> <a target="_blank" href="http://www.tcnext.com/"> <img src="images/spacer.gif" /></a></li>
			<li class="stepahead"> <a target="_blank" href="http://stepahead.timesjobs.com/"> <img src="images/spacer.gif" /></a></li>
		</ul>
</div>
  <div class="container-fluid">
    <div class="text-center">&copy; Copyright Times Business Solutions Limited</div>
  </div>
</footer>
	<!--########### Footer Ends Here ###########-->
	
	
	
    </div>
  </div>

  <!-- ###### Script include code ############ -->
	<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script> 
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/angular.min.js" type="text/javascript"></script>
	<script src="js/angular-route.js" type="text/javascript"></script>
	<script src="js/gloablJS.js" type="text/javascript"></script>
	<script src="js/isotope.pkgd.min.js" type="text/javascript"></script>
	<script src="js/bootstrap-slider.js" type="text/javascript"></script>
	<script src="js/data.js" type="text/javascript"></script>
    <script src="js/utilityJS.js"></script>
	 <script>
  app.controller('TabsDemoCtrl', function ($scope) {
  $scope.tabs = [
    { title:'Roles', content:
	[{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"}], disabled: false },
    { title:'Skills', content:[
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"},
	{text:"Front end developer  at CSC Canda area",link:"#"},
	{text:"Analytics expert at CSC Canda area",link:"#"}], disabled: false }
  ];

});
  </script>
    <!-- ###### Script include code ############ -->  
	<script>
	</script>
	
  </body>
</html>
